gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your release keystore.
# See https://flutter.dev/to/reference-keystore
keystore.properties
**/*.jks

# Allow debug.keystore for consistent development
!debug.keystore
