<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Instantexplore</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>instantexplore</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>$(GOOGLE_MAPS_API_KEY)</string>
	
	<!-- Location permissions -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>此應用程式需要存取您的位置來顯示附近的地點</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>此應用程式需要存取您的位置來顯示附近的地點</string>

	<!-- Photo Library permissions -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>旅食日記需要存取您的相片庫，以便選擇照片上傳到日記中記錄美好時光。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>旅食日記需要將編輯後的照片儲存到您的相片庫。</string>

	<!-- Camera permission -->
	<key>NSCameraUsageDescription</key>
	<string>旅食日記需要使用相機拍攝照片，以記錄您的旅程和美食體驗。</string>

	<!-- URL Schemes for Google Sign In -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.paulchwu.instantexplore.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- This should be your GOOGLE_IOS_CLIENT_ID (reversed) -->
				<string>com.googleusercontent.apps.946345911984-9gp7nsjks2em32u0mjguuv9m5oveecqg</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
